@charset "utf-8";
:focus {outline:0; border: 0;}
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a {text-decoration: none;}
#wrapper{width: 100%; position: relative;}
footer{width: 100%;}
body{font-family: "나눔스퀘어";}

.hd_top, #contents, #section {width: 1400px; margin: 0 auto;}
.top{position: fixed; width: 100%; z-index: 200; background: rgba(0,0,0,.8); height: 60px;}
.top:hover{background: rgba(0,0,0,.8); position: fixed;}
header{ width: 100%; height: 501px;
	background: url(../image/vs_main.jpg) no-repeat;}
header .logo{float: left; width: 110px; height: 30px; line-height: 40px; padding: 10px 0;}

header .meun{ width: 1290px; float: left;}
header .meun>ul>li {float: left; height: 30px; line-height: 60px; padding: 0 25px;
					margin-left: 40px;}
header .meun ul li a{color: #fff; font-size: 16px; font-family: "나눔스퀘어" }
header .meun ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun1 .su01, .submeun2 .su01, .submeun3 .su01, .submeun4 .su01{width: 1400px; 
									 margin:0 auto; position: relative;}

.submeun1{display: block; position: fixed; width: 100%; top: 60px; 
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun2{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun3{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun4{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}

.submeun1 ul{position: absolute; width: 1290px; right: -65px; top: 20px;}
.submeun1 ul li a{color: #fff;}

.submeun2 ul{position: absolute; width: 1290px; right: 0;top: 10px; }
.submeun2 ul li a{color: #fff;}

.submeun3 ul{position: absolute; width: 1290px; right: -65px; top: 20px; }
.submeun3 ul li a{color: #fff;}

.submeun4 ul{position: absolute; width: 1290px; right: -65px; top: 20px; }
.submeun4 ul li a{color: #fff;}



header{width: 100%;}
header .meun .row{vertical-align: middle;}
header .sh_bar{width: 140px; height: 30px;
	height: 30px; line-height: 45px; margin-top: 10px;}
header .sh_bar {background: rgba(0,0,0,.5); border-bottom: 1px solid #404040; margin-top: 15px;}
header .sh_bar .search{color: #fff; width: 100px; height: 30px; background:rgba(0,0,0,0); border: 0;
					float: right;}
#section .logo2{left: 30px;  top: -350px; position: relative;}
#section .text{left: 90px; top: -402px; position: relative; color: #fff;}
#section .text p{color: #fff;}

.submeun1 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun3 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun4 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}

.quick{display: block; position: fixed; width: 150px; top: 60px;
				height: 200px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;
				left: 1297px;}
.quick a{color: #fff; margin-left: 10px;}
.quick a:hover{color:#a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}

.quick2{display: block; position: fixed; width: 150px; top: 60px;
				height: 100px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;
				left: 1480px;}
.quick2 a{color: #fff; margin-left: 10px;}
.quick2 a:hover{color:#a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}


.submeun2 .one{width:270px; height: 113px; background: url(../image/gg70.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .two{width:270px; height: 115px; background: url(../image/gg80.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .three{width:275px; height: 117px; background: url(../image/gg80sport.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .four{width:275px; height: 117px; background: url(../image/gg90.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}

.submeun2 .one:hover{background-position: -275px 0;}
.submeun2 .two:hover{background-position: -275px 0;}
.submeun2 .three:hover{background-position: -275px 0;}
.submeun2 .four:hover{background-position: -275px 0;}

.submeun2 ul li{float: left; padding:0 20px; margin-top: 50px;}

.submeun2 h3{font-size: 18px; color: #fff; opacity: 0.8; padding: -60px 0;}

#contents{text-align: center; margin-top: -100px;}
#contents>h3 {padding: 50px; color: #a4694b;}
#contents h3 a{border-bottom: 1px solid #a4694b; padding-bottom: 5px;width: 300px; color: #a4694b; }
#contents .car_box{width: 1200px;  height: 229px; margin: 0 auto; position: relative;}
#contents .car_box a{width: 300px; display: block; float: left;}
#contents .car_box img{width: 300px; height: 229px;}
#contents .car_box a:after{content: ""; width: 1px; height: 200px; background: #eee; display: block; margin-top: -215px; 
position: absolute; z-index: 100;}
#contents .car_box a:first-child:after{display: none;}
#contents .car_box a .hov1{display: none; position: absolute; left: 0; top: 0;}
#contents .car_box a .hov2{display: none; position: absolute; left: 300px; top: 0;}
#contents .car_box a .hov3{display: none; position: absolute; left: 600px; top: 0;}
#contents .car_box a .hov4{display: none; position: absolute; left: 900px; top: 0;}
#contents .car_box a .exp1{display: none;position: absolute; left:40px; top: 60px;border-bottom: 1px solid #a4694b;
							color:#a4694b; z-index: 300;}
#contents .car_box a .exp2{display: none;position: absolute; left:340px; top: 60px;border-bottom: 1px solid #a4694b;
							color:#a4694b; z-index: 300;}
#contents .car_box a .exp3{display: none;position: absolute; left:640px; top: 60px;border-bottom: 1px solid #a4694b;
							color:#a4694b; z-index: 300;}
#contents .car_box a .exp4{display: none;position: absolute; left:940px; top: 60px;border-bottom: 1px solid #a4694b;
							color:#a4694b; z-index: 300;}														
#contents .car_box a:hover .exp1,#contents .car_box a:hover .exp2, 
#contents .car_box a:hover .exp3, #contents .car_box a:hover .exp4{display: block;}
#contents .car_box a:hover .hov1{display: block;}
#contents .car_box a:hover .hov2{display: block;}
#contents .car_box a:hover .hov3{display: block;}
#contents .car_box a:hover .hov4{display: block;}

#contents .cont2{width: 1200px; margin: 0 auto; margin-top: 60px;}
#contents .cont2 div{margin-left: 105px; float: left;}
#contents .cont2 div:first-child{margin-left: 0;}
#contents .cont2 .news1, .news2, .news3{width: 330px;}
#contents .cont2 h3, p{text-align: left; padding: 5px 0; color: #666;}
.cont2 .news1:hover{font-weight:bold;}
.cont2 .news2:hover{font-weight:bold;}
.cont2 .news3:hover{font-weight:bold;}
#contents .left{position: absolute; margin-left: 100.2px; margin-top: 40px;}
#contents .right {position: relative; left: -75.8px; margin-top: 101px;}

footer{clear: left; padding-top: 70px;}
footer .icon_list>p {color:#fff; text-align: center; padding-top: 20px; font-size: 15px;}
footer .icon_list{height: 100px; background: #000; text-align: center;}
footer .icon_list ul {margin-top: 20px;}
footer .icon_list ul li {display: inline; padding: 0 20px;}

footer .ft2{ height: 80px; background: #dbdbdb;text-align: center;}
footer .ft2 ul li{display: inline; padding:40px; }
footer .ft2 ul li a{line-height: 80px; color: #666666; font-size: 14px;}
footer .ft3{height: 80px; background:#e6e6e6;}
footer .ft3 .left{float: left;}
footer .ft3 .left ul li{float: left; padding: 33px;}
footer .ft3 .left ul li a{color:#666; font-size: 18px;}
footer .ft3 .left ul li a:hover{border-bottom: 1px solid #666; padding: 5px 0;}
footer .ft3 .right{float: right; line-height: 80px; color: #666; font-size: 12px;}














