@charset "utf-8";
:focus {outline:0; border: 0;}
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a {text-decoration: none;}
#wrapper{width: 100%; position: relative;}
footer{width: 100%;}
body{font-family: "나눔스퀘어";}

.hd_top, #contents {width: 1400px; margin: 0 auto;}
.top{position: fixed; width: 100%; z-index: 200; background: rgba(0,0,0,.8); height: 60px;}
.top:hover{background: rgba(0,0,0,.8); position: fixed;}
header{ width: 100%;}
header .logo{float: left; width: 110px; height: 30px; line-height: 40px; padding: 10px 0;}

header .meun{ width: 1290px; float: left;}
header .meun>ul>li {float: left; height: 30px; line-height: 60px; padding: 0 25px;
					margin-left: 40px;}
header .meun ul li a{color: #fff; font-size: 16px; font-family: "나눔스퀘어" }
header .meun ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun1 .su01, .submeun2 .su01, .submeun3 .su01, .submeun4 .su01{width: 1400px; 
									 margin:0 auto; position: relative;}

.submeun1{display: block; position: fixed; width: 100%; top: 60px; 
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun2{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun3{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}
.submeun4{display: block; position: fixed; width: 100%; top: 60px;
				height: 300px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;}

.submeun1 ul{position: absolute; width: 1290px; right: -65px; top: 20px;}
.submeun1 ul li a{color: #fff;}

.submeun2 ul{position: absolute; width: 1290px; right: 0;top: 10px; }
.submeun2 ul li a{color: #fff;}

.submeun3 ul{position: absolute; width: 1290px; right: -65px; top: 20px; }
.submeun3 ul li a{color: #fff;}

.submeun4 ul{position: absolute; width: 1290px; right: -65px; top: 20px; }
.submeun4 ul li a{color: #fff;}



header{width: 100%;}
header .meun .row{vertical-align: middle;}
header .sh_bar{width: 140px; height: 30px;
	height: 30px; line-height: 45px; margin-top: 10px;}
header .sh_bar {background: rgba(0,0,0,.5); border-bottom: 1px solid #404040; margin-top: 15px;}
header .sh_bar .search{color: #fff; width: 100px; height: 30px; background:rgba(0,0,0,0); border: 0;
					float: right;}

.submeun1 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun3 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}
.submeun4 ul li:hover a{color: #a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}

.quick{display: block; position: fixed; width: 150px; top: 60px;
				height: 200px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;
				left: 1297px;}
.quick a{color: #fff; margin-left: 10px;}
.quick a:hover{color:#a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}

.quick2{display: block; position: fixed; width: 150px; top: 60px;
				height: 100px; line-height: 40px; background: rgba(0,0,0,.8); z-index: 1000;
				left: 1480px;}
.quick2 a{color: #fff; margin-left: 10px;}
.quick2 a:hover{color:#a4694b; border-bottom: 1px solid #a4694b; padding-bottom: 2px;}


.submeun2 .one{width:270px; height: 113px; background: url(../image/gg70.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .two{width:270px; height: 115px; background: url(../image/gg80.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .three{width:275px; height: 117px; background: url(../image/gg80sport.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}
.submeun2 .four{width:275px; height: 117px; background: url(../image/gg90.png) no-repeat;background-position: 0 0; cursor: pointer;
			transition: all 0.5s;}

.submeun2 .one:hover{background-position: -275px 0;}
.submeun2 .two:hover{background-position: -275px 0;}
.submeun2 .three:hover{background-position: -275px 0;}
.submeun2 .four:hover{background-position: -275px 0;}

.submeun2 ul li{float: left; padding:0 20px; margin-top: 50px;}

.submeun2 h3{font-size: 18px; color: #fff; opacity: 0.8; padding: -60px 0;}
.main_bg{width: 100%; height: 500px; background: url(../image2/main.jpg);}
.main_bg>h1{position: absolute; left: 255px; top: 205px;
			color: #fff; font-size: 60px;}

.contents{width: 1100px; height: 400px; margin: 0 auto;}
.contents>div{margin-left: 60px; margin-top: 60px;}
.contents>div:first-child{margin-left: 20px;}
.contents .cont1 {width: 320px; height: 440px;cursor: pointer; float: left;}
.contents .cont1:hover{background-color: #a36b4f;}
.contents .cont1 .border, .contents .cont2 .border, .contents .cont3 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont1:hover .border{ width: 100%; border-color: #a36b4f;}
.contents .cont1 .border:hover{border-color: #a36b4f;}
.contents .cont1:hover .box{background: #a36b4f;}
.contents .cont1:hover .box2{background: #f2f2f2;}
.contents .cont1 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }	
.contents .cont1 .box>a{color: #fff; font-size: 14px;}
.contents .cont1 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont1 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont1 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont2 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont2:hover{background-color: #a36b4f;}
.contents .cont2 .border:hover{border-color: #a36b4f;}
.contents .cont2:hover .box{background: #a36b4f; }
.contents .cont2:hover .box2{background: #f2f2f2;}
.contents .cont2 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }	
.contents .cont2 .box>a{color: #fff; font-size: 14px;}
.contents .cont2 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont2 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont2 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont3 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont3:hover{background-color: #a36b4f;}
.contents .cont3 .border:hover{border-color: #a36b4f;}
.contents .cont3:hover .box{background: #a36b4f; }
.contents .cont3:hover .box2{background: #f2f2f2;}
.contents .cont3 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }	
.contents .cont3 .box>a{color: #fff; font-size: 14px;}
.contents .cont3 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont3 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont3 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont4 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont4:hover{background-color: #a36b4f;}
.contents .cont4 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont4 .border:hover{border-color: #a36b4f;}
.contents .cont4:hover .box{background: #a36b4f; }
.contents .cont4:hover .box2{background: #f2f2f2;}
.contents .cont4 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont4 .box>a{color: #fff; font-size: 14px;}
.contents .cont4 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont4 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont4 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont5 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont5:hover{background-color: #a36b4f;}
.contents .cont5 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont5 .border:hover{border-color: #a36b4f;}
.contents .cont5:hover .box{background: #a36b4f; }
.contents .cont5:hover .box2{background: #f2f2f2;}
.contents .cont5 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont5 .box>a{color: #fff; font-size: 14px;}
.contents .cont5 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont5 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont5 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont6 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont6:hover{background-color: #a36b4f;}
.contents .cont6 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont6 .border:hover{border-color: #a36b4f;}
.contents .cont6:hover .box{background: #a36b4f; }
.contents .cont6:hover .box2{background: #f2f2f2;}
.contents .cont6 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont6 .box>a{color: #fff; font-size: 14px;}
.contents .cont6 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont6 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont6 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont7 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont7:hover{background-color: #a36b4f;}
.contents .cont7 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont7 .border:hover{border-color: #a36b4f;}
.contents .cont7:hover .box{background: #a36b4f; }
.contents .cont7:hover .box2{background: #f2f2f2;}
.contents .cont7 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont7 .box>a{color: #fff; font-size: 14px;}
.contents .cont7 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont7 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont7 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont8 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;}
.contents .cont8:hover{background-color: #a36b4f;}
.contents .cont8 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont8 .border:hover{border-color: #a36b4f;}
.contents .cont8:hover .box{background: #a36b4f; }
.contents .cont8:hover .box2{background: #f2f2f2;}
.contents .cont8 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont8 .box>a{color: #fff; font-size: 14px;}
.contents .cont8 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont8 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont8 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}

.contents .cont9 {width: 320px; height: 440px; box-sizing: border-box;  cursor: pointer; float: left;
				margin-bottom: 60px;}
.contents .cont9:hover{background-color: #a36b4f;}
.contents .cont9 .border{ width: 100%;
	border-left :1px solid #ccc;border-right :1px solid #ccc;border-bottom :1px solid #ccc; text-align: center;}
.contents .cont9 .border:hover{border-color: #a36b4f;}
.contents .cont9:hover .box{background: #a36b4f; }
.contents .cont9:hover .box2{background: #f2f2f2;}
.contents .cont9 .box{background: #000;width: 100%; height: 90px;
	line-height: 90px; text-align: center; }
.contents .cont9 .box>a{color: #fff; font-size: 14px;}
.contents .cont9 .box2{ width: 100%; height: 171px;text-align: left; margin-top: -5px; }
.contents .cont9 .box2>a{color: #070707; margin-top: 40px;  font-size: 14px;}
.contents .cont9 .box2 .a1, .a2{float: left; padding: 0 15px; margin-top: 20px;}



footer{clear: left;}
footer .icon_list>p {color:#fff; text-align: center; padding-top: 20px; font-size: 15px;}
footer .icon_list{height: 100px; background: #000; text-align: center;}
footer .icon_list ul {margin-top: 20px;}
footer .icon_list ul li {display: inline; padding: 0 20px;}

footer .ft2{ height: 80px; background: #dbdbdb;text-align: center;}
footer .ft2 ul li{display: inline; padding:40px; }
footer .ft2 ul li a{line-height: 80px; color: #666666; font-size: 14px;}
footer .ft3{height: 80px; background:#e6e6e6;}
footer .ft3 .left{float: left;}
footer .ft3 .left ul li{float: left; padding: 33px;}
footer .ft3 .left ul li a{color:#666; font-size: 18px;}
footer .ft3 .left ul li a:hover{border-bottom: 1px solid #666; padding: 5px 0;}
footer .ft3 .right{float: right; line-height: 80px; color: #666; font-size: 12px;}














